<div class="card__info">
  <% if has_category? %>
    <div class="card__info__item">
      <%= category %>
    </div>
  <% end %>

  <div class="card__info__item">
    #<%= model.id %>
  </div>
</div>
