<div class="row columns">
  <div class="page-title">
    <h1 class="heading1"><%= translated_attribute(current_component.name) %></h1>
  </div>
</div>

<% intro = translated_attribute component_settings.intro %>

<% if intro.present? %>
  <div class="row medium-unstack content-intro">
    <div class="columns medium-6 mediumlarge-8">
      <div class="text-large">
        <%== translated_attribute component_settings.intro %>
      </div>
    </div>
    <div class="columns medium-6 mediumlarge-4">
      <%= render partial: "decidim/nav/shared/action_panel_links", locals: { navigable: current_component } %>
    </div>
  </div>
<% end %>
