<%
breadcrumbs = []
current_result = result
while current_result
  breadcrumbs << current_result
  current_result = current_result.parent
end
breadcrumbs.reverse!
%>

<div class="lines-breadcrumb">
  <%= link_to t(".all_projects"), root_path %>
  <% if false && component_settings.display_progress_enabled? %>
    <span class="percentage"><%= display_percentage progress_calculator(current_scope, nil) %></span>
  <% end %>

  <% breadcrumbs.each do |current_result| %>
    <span class="breadcrumb--separator">></span>
    <div>
      <%= link_to translated_attribute(current_result.title), result_path(current_result) %>
      <% if false && component_settings.display_progress_enabled? %>
        <span class="percentage"><%= display_percentage current_result.progress %></span>
      <% end %>
    </div>
  <% end %>
</div>
