<%
# There should always be only one related project for each result.
project = Decidim::ResourceLink.where(
  from_type: "Decidim::Accountability::Result",
  from_id: result.id,
  name: "included_projects",
  to_type: "Decidim::Budgets::Project"
).order(:id).first&.to

answer = translated_attribute(project&.answer) if project.respond_to?(:answer)
%>

<% if answer.present? && strip_tags(answer).strip.present? %>
  <div class="accordion accordion--large" data-accordion data-multi-expand="true" data-allow-all-closed="true">
    <div class="accordion-item" data-accordion-item>
      <a role="button" class="accordion-title" href="#" aria-expanded="false">
        <span class="accordion-title__text"><%= t(".title") %></span>
        <span class="accordion-title__icon">
          <span class="accordion--inactive">
            <%= icon("chevron-bottom", role: "img", "aria-hidden": true) %>
          </span>
          <span class="accordion--active">
            <%= icon("chevron-top", role: "img", "aria-hidden": true) %>
          </span>
        </span>
      </a>
      <div class="accordion-content" data-tab-content="" role="region" aria-hidden="true">
        <%= decidim_sanitize_editor_admin(answer) %>
      </div>
    </div>
  </div>
<% end %>
