<h2><%= t(".subtitle") %></h2>

<p><%== translated_attribute result.summary %></p>

<div class="description">
  <%== translated_attribute result.description %>
</div>

<%= render partial: "timeline", locals: { result: result } if result.timeline_entries.any? %>
