<% if component_settings.display_progress_enabled? && result.progress.present? %>
  <%= result_progress_info(root_result) do %>
    <div class="progress-label">
      <span class="progress-figure">
        <%= display_percentage result.progress %>
      </span>
    </div>

    <div class="progress">
      <div class="progress-meter" style="width:<%= result.progress %>%"></div>
    </div>

    <p class="text-small">
      <%= t(".average_progress", progress: display_percentage(progress_calculator(current_scope, nil))) %>
    </p>
  <% end %>
<% end %>
