<div class="cards-list">
  <%= render partial: "decidim/accountability_simple/shared/result", collection: results %>
</div>

<%= decidim_paginate results, order_start_time: params[:order_start_time], scope_id: params[:scope_id] %>
