<div class="card__section">
  <span class="text-small"><%= t(".progress_explanation") %></span>
  <div class="progress">
    <div class="progress-meter<%= " progress-meter--low" if model.progress < 5 %>" style="width:<%= model.progress %>%">
      <p class="progress-meter-text"><%= display_percentage model.progress %></p>
    </div>
  </div>
</div>
